@import "jointjs/dist/joint.css";

// EPAM primary colors
$sharp-blue: #39c2d7;
$lime-green: #a3c644;
$graphite: #464547;

  // EPAM secondary colors
$raspberry: #b22746;
$gray: #999;
$light-gray: #ccc;

$selected-color: $raspberry;

.joint-highlight-stroke {
  stroke: $sharp-blue;
}

.joint-tools-layer .joint-tools .joint-link-tool-remove circle {
  fill: $raspberry;
}

@mixin jointPorts($fill, $stroke, $stroke-width) {
  .visual-parameter {
    fill: $stroke;
    stroke: $fill;
    stroke-width: $stroke-width;
    &[has-value=false] {
      fill: $fill;
      stroke: $stroke;
    }

    &.invalid {
      stroke: red;
    }
  }
}

@mixin visualElementBody($fill: #fafafa, $stroke: $graphite, $stroke-width: 1, $opacity: 0.7) {
  .visual-element-body {
    cursor: move;
    fill: fade-out($fill, 1.0 - $opacity);
    stroke: $stroke;
    stroke-width: $stroke-width;
  }

  &.selected {
    .visual-element-body {
      stroke: $selected-color;
    }
  }

  &.invalid {
    .visual-element-body {
      stroke: red;
    }
  }

  @include jointPorts(fade-in($fill, 1), $stroke, $stroke-width);
}

.visual-element {
  @include visualElementBody();

  &.visual-workflow,
  &.visual-call,
  &.visual-scatter {
    @include visualElementBody($stroke: $sharp-blue, $stroke-width: 2);
  }

  &.visual-conditional {
    @include visualElementBody($stroke: $lime-green, $stroke-width: 2);
    .visual-element-body {
      stroke-dasharray: 2, 2;
    }
  }
}

#workflow-connection-marker {
  fill: $light-gray;
  stroke: $light-gray;
}

#default-connection-marker {
  fill: $gray;
  stroke: $gray;
}

.visual-connection {
  .visual-connection-line {
    stroke: $gray;
  }
  &.visual-connection-complex {
    .visual-connection-line {
      stroke-dasharray: 20 10;
    }
  }
  &.visual-connection-workflow {
    .visual-connection-line {
      stroke: $light-gray;
    }
    &.selected {
      .visual-connection-line {
        stroke: $selected-color;
        stroke-width: 2;
      }
    }
  }
  &.selected {
    .visual-connection-line {
      stroke: $selected-color;
      stroke-width: 2;
    }
  }
}

$text-color: #222222;
$text-color-2: #555555;

.visual-parameter-label {
  tspan[parameter-name=true] {
    fill: $text-color;
  }
  tspan[parameter-type=true] {
    fill: $text-color-2;
  }
}

.visual-element-label {
  tspan[element-name=true],
  tspan[element-alias=true] {
    fill: $text-color;
  }
  tspan[element-type=true],
  tspan[element-as=true] {
    fill: $text-color-2;
  }
}
